* {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #eee
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    width: 1200px;
    background-color: #500;
}

.main-container {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
}

.header {
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
}

.cards-background {
    margin: 0 auto;
    height: 534px;
    padding: 16px;
    background-color: #900;
}

.cards-container {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}

.card {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-color: #aaa;
    border-radius: 10px;
    width: 120px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-container .card .view {
    pointer-events: none;
    user-select: none;
}

.inactive-card, .active-card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-container .card {
    transform: rotateY(0);
}

.card-container .card.flip {
    transform: rotateY(180deg);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
    background-color: #aaa;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(13px);
    }
    40% {
        transform: translateX(-13px);
    }
    60% {
        transform: translateX(6px);
    }
    80% {
        transform: translateX(-6px);
    }
}

.view {
    position: absolute;
    margin: 0;
    width: 100px;
    height: 140px;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
}

.inactive-card {
    background-image: url("./assets/pattern.png")
}

.card .inactive-card {
    transform: rotateY(0);
}
.card .active-card {
    transform: rotateY(180deg);
}

@media screen {
    
}
